body{
    font-family: Arial, sans-serif;
}

.hero{
    background: linear-gradient(rgba(0,0,0,.6),
    rgba(0,0,0,.6)),
    url('https://images.unsplash.com/photo-1511578314322-379afb476865');
    background-size: cover;
    background-position: center;
    color:white;
    padding:120px 0;
}

.event-card img{
    height:220px;
    object-fit:cover;
}

.gallery-img{
    height:250px;
    object-fit:cover;
}

.footer{
    background:#212529;
    color:white;
    padding:20px;
}

.dark-mode{
    background:#121212;
    color:white;
}

.dark-mode .card{
    background:#1f1f1f;
    color:white;
}